<div>
  <h1>Ecommerce chat</h1>
  <input id="box" type="text" />
  <div id="cont" ></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/chat.js"></script>